<h1>Minhas Conexões</h1>

<%= if length(@users) > 0 do %>
  <ul>
    <%= for user <- @users do %>
      <li>
        <strong><%= user.name %> <a href="<%= Routes.connection_path(@conn, :desconectar, user.id) %>" class="desconectar">Desconectar</a></strong>
        <br />
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Você não tem conexões ainda.</p>
<% end %>



<style>
  .desconectar {
    color: red;
  }

</style>