<h1>Post Criado</h1>
<div class="post">
  <p><strong>Conteúdo:</strong></p>
  <p><%= @post.content %></p>
  <p><strong>Publicado por:</strong> <%= @current_user.name %></p>
</div>

<%= Phoenix.HTML.Link.link("<<< Voltar", to: Routes.post_path(@conn, :index)) %>
